h1 {font-size: 32px;
   margin: 40px;
   padding: 80px;
}
body {
   font-size: 16px;
   margin:100px;
}

.menu{
   display: flex;
   justify-content: space-between;
   align-items: center;
   border-bottom: 1px solid black;
   margin: 8px;
   position: fixed;
   width: 1280px;
}



.opciones a {
   margin: 16px;
}
a {
   text-decoration: none;
   color: black;
}

.iconos img {
   margin: 16px;
}
@media (max-width: 920px) {
   .opciones{
      display: none;
   }

   .iconos{
      display: none;
   }

   .iconos{
      margin: 0 auto;
   }  
}
@media(max-width: 920px) {
   .contenedor-footer{
      display: none;
   }
   .footer-item {
      display: none;
   }
   .footer-item1{
      display: none;
   }
   .contenedor-footer{
      margin: 0 auto;
   }
}

.fotos {
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
}
.footer-item{
   bottom: 1px;
}
.contenedor-footer {
   font-size: 16px;
   display:flex;
   justify-content:space-between;
   align-items: center;
   background-color: black;
   color: white;
}
.footer-item{
   display: flex;
   justify-content: space-evenly;
   width: 50px;
   height: 50px;
   border-radius:50%;
   background-color: white;
}




/* 
 


 .menu {
    width: 1280px;
    position: fixed;
   justify-content: space-between; 
   margin: 8px;
}

ul {
    list-style: none;
    display:flex;
    justify-content:space-between;
    padding: 0%;
 }

 .iconos {
   list-style: none;
   display:flex;
   justify-content:space-between;
   
   
   
}
 


.fotos ul{
   width: 1280px;
    list-style: none;
    display:flex;
    justify-content: space-evenly;
    padding: 0px;
    margin: 32px;
    
}
.precios{
    list-style: none;
    display: flex;
    justify-content:space-evenly;
    padding: 0px;
   
}
strong {
margin-left: 80px;
}


footer {
    font-size: 16px;
    display:flex;
    justify-content:space-between;
    padding: 15px;
    margin: 8px;
    background-color: black;
    color: white;
    
        
 }
.pie1 {
text-align: end;

}
 */